In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('c:/dataset/analysis/movies.csv')
df

,star_rating,title,content_rating,category,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [3]:
df.star_rating.min()

7.4

In [4]:
df.star_rating.max()

9.3

In [6]:
df[df.star_rating>=9].shape

(4, 6)

In [7]:
df[df.star_rating>=8.5].shape

(63, 6)

In [8]:
df[(df.star_rating>=8) & (df.star_rating<8.5)].shape

(331, 6)

In [9]:
df.star_rating.mean()

7.8897854954034985

In [10]:
df.category.unique()

array(['Crime', 'Action', 'Drama', 'Western', 'Adventure', 'Biography',
       'Comedy', 'Animation', 'Mystery', 'Horror', 'Film-Noir', 'Sci-Fi',
       'History', 'Thriller', 'Family', 'Fantasy'], dtype=object)

In [11]:
df.category.value_counts()

Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Adventure     75
Animation     62
Horror        29
Mystery       16
Western        9
Thriller       5
Sci-Fi         5
Film-Noir      3
Family         2
Fantasy        1
History        1
Name: category, dtype: int64

In [14]:
df[df.category=='Drama'].star_rating.mean()

7.902517985611515

In [16]:
df.category.isnull()
df.category.isnull().sum()

0

In [18]:
df.isnull()
df.isnull().sum()

star_rating       0
title             0
content_rating    3
category          0
duration          0
actors_list       0
dtype: int64

In [19]:
df.star_rating.dtype

dtype('float64')

In [20]:
df.category.dtype

dtype('O')

In [22]:
df.dtypes

star_rating       float64
title              object
content_rating     object
category           object
duration            int64
actors_list        object
dtype: object

In [26]:
df.duration=df.duration.map(float)

In [27]:
df.dtypes

star_rating       float64
title              object
content_rating     object
category           object
duration          float64
actors_list        object
dtype: object

In [28]:
df

,star_rating,title,content_rating,category,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142.0,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175.0,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200.0,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152.0,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154.0,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116.0,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118.0,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138.0,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114.0,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126.0,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [29]:
df.star_rating=df.star_rating.map(str)

In [30]:
df.dtypes

star_rating        object
title              object
content_rating     object
category           object
duration          float64
actors_list        object
dtype: object

In [33]:
df.star_rating=df.star_rating.map(float)

In [34]:
df.dtypes

star_rating       float64
title              object
content_rating     object
category           object
duration          float64
actors_list        object
dtype: object

In [35]:
df[df.category=='Drama'].duration.mean()

126.53956834532374

In [36]:
df[df.category=='Drama'].duration.min()

64.0

In [37]:
df[df.category=='Drama'].duration.max()

242.0

In [44]:
df[df.actors_list.str.contains('amir khan',case=False)]

,star_rating,title,content_rating,category,duration,actors_list
47,8.5,Taare Zameen Par,PG,Drama,165.0,"[u'Darsheel Safary', u'Aamir Khan', u'Tanay Ch..."
60,8.5,3 Idiots,PG-13,Comedy,170.0,"[u'Aamir Khan', u'Madhavan', u'Mona Singh']"
72,8.4,Rang De Basanti,NOT RATED,Drama,157.0,"[u'Aamir Khan', u'Soha Ali Khan', u'Siddharth']"
109,8.3,Dil Chahta Hai,NOT RATED,Comedy,183.0,"[u'Aamir Khan', u'Saif Ali Khan', u'Akshaye Kh..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224.0,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."

In [50]:
df[df.title.str.startswith('The')].star_rating.mean()

7.916143497757833

In [51]:
df[(df.duration>=120) & (df.duration<180)].shape

(421, 6)

In [54]:
df[df.duration.isin(range(120,180))].shape

(421, 6)

In [56]:
df=pd.read_csv('c:/dataset/analysis/tips.csv')
df

     total_bill   tip  gender smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [57]:
df.time.value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [58]:
df.isnull().sum()

total_bill    0
tip           0
gender        0
smoker        0
day           0
time          0
size          0
dtype: int64

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
gender        244 non-null object
smoker        244 non-null object
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [60]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000